# Unreal generated
Binaries/
Intermediate/
Saved/
DerivedDataCache/
Build/
Plugins/*/Binaries/
Plugins/*/Intermediate/

# IDE
.vs/
.vscode/
.idea/
*.sln
*.suo
*.opensdf
*.sdf
*.VC.db
*.VC.opendb

# Blender
*.blend1
*.blend2

# OS
Thumbs.db
Desktop.ini
.DS_Store
ArtSource/Blender/export/

# Python
__pycache__/
*.pyc
